n8n/workflow.json
{
  "name": "Transcript Analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze-transcript",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "b1a4d4d0-1111-4000-aaaa-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "transcript-analysis"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Meeting context: {{ $json.body.meetingContext || 'none provided' }}\nFilename: {{ $json.body.filename || 'unknown' }}\n\nTranscript:\n{{ $json.body.transcript }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an assistant for a technology investor. Your job is to analyze meeting transcripts — calls with founders, operators, portfolio companies, or other investors — and surface what matters to an investor.\n\nReturn STRICT JSON with exactly three keys:\n- insights: the most important signals, non-obvious observations, red flags, or validating evidence from the conversation. Frame from an investor's lens: traction, moat, team quality, market dynamics, competitive position, unit economics, risks.\n- actionItems: concrete next steps with a clear owner where stated. Follow-ups the investor committed to, diligence items to chase, intros to make, data or references to request.\n- nextMeetingTopics: open questions and threads to pick up next time. What should the investor probe further, confirm, or bring back up?\n\nRules:\n- Each item is one crisp sentence. No fluff, no preamble, no markdown, no numbering.\n- Skip generic meeting-summary filler. If something is obvious or low-signal, omit it.\n- If a section genuinely has nothing, return an empty array — don't invent items.\n- Return JSON only. No explanation before or after."
        }
      },
      "id": "b1a4d4d0-1111-4000-aaaa-000000000002",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [260, 0]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {
          "temperature": 0.3,
          "maxTokensToSample": 4096
        }
      },
      "id": "b1a4d4d0-1111-4000-aaaa-000000000003",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [180, 220]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"insights\": [\"Founder has paying design-partner revenue from two Fortune 500 logos — strongest signal in the call.\"],\n  \"actionItems\": [\"Send follow-up email requesting latest MRR breakdown and cohort retention by Friday.\"],\n  \"nextMeetingTopics\": [\"Probe deeper on competitive displacement vs. Incumbent X — founder dodged the pricing comparison.\"]\n}"
      },
      "id": "b1a4d4d0-1111-4000-aaaa-000000000004",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [360, 220]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "b1a4d4d0-1111-4000-aaaa-000000000005",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [540, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {},
  "meta": {
    "instanceId": "transcript-analysis"
  },
  "tags": []
}
